{{> layout/header}}

<section>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="아이디" value="ssar"></br>
        <input type="text" name="password" placeholder="패스워드" value="1234"></br>
        <button type="submit">로그인</button>
    </form>
</section>

</body>
</html>